language: node_js

env:
  - CXX=g++-4.8

node_js:
  - 4
  - 5
  - 6

sudo: required

notifications:
  email:
    - lilleman@larvit.se
    - tobias@nublar.se

before_install:
  - $CXX --version

install:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then export CXX=g++-4.8; fi
  - npm i

before_script:
  - mysql -e 'CREATE DATABASE test'

services:
  - mysql
  - rabbitmq

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

env:
  - DBCONFFILE=db_travis.json
  - INTCONFFILE=amqp_travis.json

script: mocha
