<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<form method="post">

	<div class="row">
		<div class="six columns">
			<label for="uuid">Uuid</label>
			<input class="u-full-width" type="text" name="uuid" placeholder="auto generated" readonly="readonly" value="<%= obj.global.urlParsed.query.uuid %>" />
		</div>

		<div class="six columns">
			<label for="created">Created</label>
			<input class="u-full-width" type="text" name="uuid" placeholder="auto generated" readonly="readonly" value="<%= obj.order.created %>" />
		</div>
	</div>

	<h2>Fields</h2>
	<% _.forEach(obj.order.fields, function(fieldValues, fieldName) { %>
		<% for (var i = 0; fieldValues[i] !== undefined; i ++) { %>
			<div class="row">
				<div class="six columns">
					<label for="fieldName[]">Field Name</label>
					<input class="u-full-width" type="text" name="fieldName[]" value="<%= fieldName %>" />
				</div>

				<div class="six columns">
					<label for="fieldValue[]">Field Value</label>
					<input class="u-full-width" type="text" name="fieldValue[]" value="<%= fieldValues[i] %>" />
				</div>
			</div>
		<% } %>
	<% }); %>

	<div class="row">
		<div class="six columns">
			<label for="fieldName[]">Field Name</label>
			<input class="u-full-width" type="text" name="fieldName[]" value="" />
		</div>

		<div class="six columns">
			<label for="fieldValue[]">Field Value</label>
			<input class="u-full-width" type="text" name="fieldValue[]" value="" />
		</div>
	</div>

	<h2>Rows</h2>

	<% for (var i = 0; obj.order.rows[i] !== undefined; i ++) { %>
		<% var row = obj.order.rows[i]; %>
		<% var rowUuid = row.uuid; %>

		<h3>Row <%= rowUuid %></h3>
		<% if (rowUuid === undefined) { rowUuid = 'new_' + i; } %>
		<% _.forEach(row, function(rowFieldValues, rowFieldName) { %>
			<% if (rowFieldName !== 'uuid') { %>
				<% for (var i2 = 0; rowFieldValues[i2] !== undefined; i2 ++) { %>
					<div class="row">
						<div class="six columns">
							<label for="rowFieldName[<%= rowUuid %>][]">Row Field Name</label>
							<input class="u-full-width" type="text" name="rowFieldName[<%= rowUuid %>][]" value="<%= rowFieldName %>" />
						</div>

						<div class="six columns">
							<label for="rowFieldValue[<%= rowUuid %>][]">Row Field Value</label>
							<input class="u-full-width" type="text" name="rowFieldValue[<%= rowUuid %>][]" value="<%= rowFieldValues[i2] %>" />
						</div>
					</div>
				<% } %>
			<% } %>
		<% }); %>

		<div class="row">
			<div class="six columns">
				<label for="rowFieldName[<%= rowUuid %>][]">Row Field Name</label>
				<input class="u-full-width" type="text" name="rowFieldName[<%= rowUuid %>][]" value="" />
			</div>

			<div class="six columns">
				<label for="rowFieldValue[<%= rowUuid %>][]">Row Field Value</label>
				<input class="u-full-width" type="text" name="rowFieldValue[<%= rowUuid %>][]" value="" />
			</div>
		</div>

	<% } %>

	<h3>New Row</h3>
	<div class="row">
		<div class="six columns">
			<label for="rowFieldName[new][]">Row Field Name</label>
			<input class="u-full-width" type="text" name="rowFieldName[new][]" value="" />
		</div>

		<div class="six columns">
			<label for="rowFieldValue[new][]">Row Field Value</label>
			<input class="u-full-width" type="text" name="rowFieldValue[new][]" value="" />
		</div>
	</div>

	<div class="controls clearfix">
		<button type="submit" name="save" class="button right inv">Save</button>
		<a class="button left" href="/orders/list">Cancel</a>
		<% if (global.urlParsed.query.uuid) { %>
			<button type="submit" name="rmOrder" class="button left warning" value="true">Delete order</button>
		<% } %>
	</div>
</form>
<%= _.render('inc/pageBottom', obj) %>
