<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<table>
	<thead>
		<tr>
			<th>UUID</th>
			<th>Created</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% _.forEach(obj.orders, function(order, orderUuid) { %>
			<tr>
				<td><a href="/orders/edit?uuid=<%= orderUuid %>"><%= orderUuid %></a></td>
				<td><%= order.created %></td>
				<td><%= order.fields !== undefined ? order.fields.status : '<em>undefined</em>' %></td>
			</tr>
		<% }); %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
