<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<form method="get">
	<div class="row">
		<div class="three columns">
			<label for="filterStatus">Filter by status</label>
			<select class="u-full-width" name="filterStatus">
				<option style="font-style: italic;" value="">No filter</option>
				<% _.forEach(obj.statuses, function(status) { %>
					<option value="<%= status %>"<% if (status === obj.global.urlParsed.query.filterStatus) { print(' selected="selected"'); } %>><%= status %></option>
				<% }); %>
			</select>
		</div>

		<div class="three columns">
			<button class="button inv">Filter</button>
		</div>
	</div>
</form>

<table>
	<thead>
		<tr>
			<th>UUID</th>
			<th>Created</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% _.forEach(obj.orders, function(order, orderUuid) { %>
			<tr>
				<td><a href="/orders/edit?uuid=<%= orderUuid %>"><%= orderUuid %></a></td>
				<td><%= order.created %></td>
				<td><%= order.fields !== undefined ? order.fields.status : '<em>undefined</em>' %></td>
			</tr>
		<% }); %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
